    // HTML:
$HTML-color: #f2f2f2;

    // Layout:
$light-green: #B5C9C0;
$pink: #DBD5CA;
$whitish: #E8E6DA;
$brick: #CA503E;
$yellow: #FFC164;
$dark-green: #82978D;
$blue-notice: #11435b;

    // Alveoli:
$alveolus-purple: #bbb2ce;
$alveolus-green: #ADBBBB;
$alveolus-red: #CB9DA1;

